// Variables
@import 'variables';

// Components
@import 'components/index';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.overlay {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  // background-color: rgba(0,0,0,0.1); /*dim the background*/
}

.invalid-feedback {
  display: block;
}

.row {
  margin: auto;
  width: 100%;
}

.container-fluid {
  padding: 0;
  margin: 0;
  position: relative;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// .container img {
//     width: 100%;
//     height: auto;
// }


@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-inner .zoom .carousel-item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}

// .carousel-inner > .carousel-item {
//     -webkit-transition: 20.0s ease-in-out left;
//     -moz-transition: 20.0s ease-in-out left;
//     -o-transition: 20.0s ease-in-out left;
//     transition: 20.0s ease-in-out left;
// }
